@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Samarkan";
  src: url("/fonts/samarkan.TTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Blanka";
  src: url("/fonts/Blanka-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Agile";
  src: url("/fonts/agile.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-montserrat {
  font-family: "Montserrat";
}
.font-samarkan {
  font-family: "Samarkan", sans-serif;
}
.font-blanka {
  font-family: "Blanka", sans-serif;
}
.font-agile {
  font-family: "Agile", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Global Smooth Scrolling */
html {
  scroll-behavior: smooth;
  overscroll-behavior: smooth;
}

/* Optional: improve mouse wheel feel */
body {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  padding: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #18181b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d2739;
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d2739;
}

/* Disable browser's native smooth behavior — we'll control it */
html {
  scroll-behavior: auto !important;
}

/* Recommended Lenis base styles */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none; /* smoother while scrolling over iframes */
}

/* (Optional) Stop rubber-banding on touch devices if you prefer */
body {
  overscroll-behavior: none;
}
