@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Samarkan";
  src: url("/fonts/samarkan.TTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Blanka";
  src: url("/fonts/Blanka-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-montserrat {
  font-family: "Montserrat";
}
.font-samarkan {
  font-family: "Samarkan", sans-serif;
}
.font-blanka {
  font-family: "Blanka", sans-serif;
}
